html
  head
    title= title
    style.
      body {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
      }
      nav {
        height: 60px;
        width: 100%;
        margin: 0 auto 20px;
        display: block inline
      }
      nav>ul {
        list-style-type: none;
        margin:0;
        padding: 10

      }
      nav>ul>li {
        float: left;
        //- border-color: black;
        //- border-width: 1px
      }

      nav>ul>li a {
        display: inline-block;
        color: white;
        text-align: left ;
        padding: 0.5em 1em 1em 1em;
        text-decoration: none ;
        font-weight: bold;
        font-size: 14pt
      }
      header.navbar {
        background-color: #0033A0;
        width: 100%
      }
      
  body
  header(class="navbar")
    nav
      ul
        li
          a(href='/') Home
        li
          if user
            a(href='/logout') Logout
          else
            a(href='/login') Login
        li
          if user
            a(href='/account/'+user.username) Account 
          else 
            a(href='/login') Account 
    
