include header.pug
unless !user
  h2 Enter Search Terms:
    form(autocomplete="off")
      input(type="text" name="foodSearch" id="foodSearch") 
      input(type="submit")
  #results
    ul(id="resultsList")
include footer.pug
