include header.pug
html
  head
    meta(charset='utf-8')
    title Spoontastic
    link(rel="stylesheet" href="./main.css")
    style.
      button {
        margin-left: 20px
      }
    script(src='apiRoutes.js')
  body
    header(id="welcome")
      if user
        h1= 'Welcome ' + user.displayName +'!'
      else
        h1 Welcome!  Please login.
        //- a(href='/auth/github') Login with Github

    unless !user
      h2 Enter Search Terms:
        form(autocomplete="off" method="GET" action=`/spoonacularAPI` enctype="x-www-form-urlencoded")
          input(type="text" name="foodSearch" id="foodSearch") 
          input(type="submit")
      #results
        ul(id="listResults")
include footer.pug

